body{
    --main-background-color: hsl(0,0%,15%);
    background-color: var(--main-background-color);
    color: hsl(0,0%,100%);
    --main-font-family: serif;
    font-family: var(--main-font-family);
}
table, th, td{
    border: 2px solid;
    margin: auto;
    border-style: ridge;
}
td{
    padding: 5px;
}
.mainbody{
    width: 70%;
    margin: auto;
}
.center{
    margin: auto;
}
a{
    color: hsl(223, 59%, 71%);
}
h1{
    text-align: center;
}
.interest{
    /* width: 96%; */
    padding: 20px;
    /* float: left; */
    display: block
    box-sizing: border-box;
    height: auto;
}

.tooltip-container {
    content: attr(data-title);
    position: absolute;
    border-style: ridge;
    background-color: hsl(0,0%,15%);
    color: hsl(0,0%,100%);
    width: 25%;
    min-width: 20em;
    max-width: 100em;
    padding: 4px;
    box-shadow: 3px 3px 10px hsl(0,0%,15%);
    height: auto;
    z-index: 100;
    display: none;
    opacity: 0;
}

canvas {
  background: black;
}

button, input, textarea {
    background: #333;
    color: #fff;
    border-radius: 5px;
}

textarea {
  padding: 10px;
  max-width: 100%;

}

.outputs {
  border-style: ridge;
}

pre {
  background-color:#333;
}

h3{
    background-color: var(--main-background-color);
}

textarea {
     min-width: 100%;
     max-width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}
