body{
    background-color: hsl(0,0%,15%);
    color: hsl(0,0%,100%);
    font-family: serif;
}
table, th, td{
    border: 2px solid;
    margin: auto;
    border-style: ridge;
}
td{
    padding: 5px;
}
.mainbody{
    width: 70%;
    margin: auto;
}
.center{
    margin: auto;
}
a{
    color: hsl(223, 59%, 71%);
}
h1{
    text-align: center;
}
.interest{
    /* width: 96%; */
    padding: 20px;
    /* float: left; */
    display: block
    box-sizing: border-box;
    height: auto;
}

.tooltip-container {
    content: attr(data-title);
    position: absolute;
    border-style: ridge;
    background-color: hsl(0,0%,15%);
    color: hsl(0,0%,100%);
    width: 25%;
    min-width: 20em;
    max-width: 100em;
    padding: 4px;
    box-shadow: 3px 3px 10px hsl(0,0%,15%);
    height: auto;
    z-index: 100;
    display: none;
    opacity: 0;
}

canvas {
  background: black;
}

button, input {
    background: #333;
    color: #fff;
}

.outputs {
  border-style: ridge;
}

pre {
  background-color:#333;
}
