body {
  font-family: sans-serif;
  background: #f4f4f4;
  margin: 20px;
}

canvas {
  background: white;
  border: ridge #ccc;
  display: block;
  margin-bottom: 15px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 6px;
}

.outputs-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}

.outputs {
  border-style: double;
  padding:5px;
  margin:5px;
  overflow: auto;
  max-height: 14em;
}

pre {
  background-color:#ddd;
  padding: 6px;
}

.controls, .outputs-container {
  max-width: 900px;
}
/* todo: add variables to some definitions */
