body {
  font-family: sans-serif;
  background: #f4f4f4;
  margin: 20px;
}

canvas {
  background: white;
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 15px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.outputs {
  border-style: double;
  padding:5px;
  margin:5px;
}

pre {
  background-color:#ddd;
}
